<!DOCTYPE HTML>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
<meta charset="UTF-8">
<title>RB_Simulation</title>
<link rel="stylesheet" type="text/css" href="../../style/layout.css" media="screen, projection, tv " />
<link rel="stylesheet" type="text/css" href="../../style/html.css" media="screen, projection, tv" /><script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="http://malsup.github.com/jquery.blockUI.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="../../instruction/imgCorrelation/html2canvas.js"></script>
<script type="text/javascript" src="../../instruction/imgCorrelation/html2canvas.svg.js"></script>
<script type="text/javascript" src="../../instruction/imgCorrelation/jquery.plugin.html2canvas.js"></script>
<script type="text/javascript" src="../../instruction/imgCorrelation/jclip.js"></script>
<script src="../../instruction/generateData.js"></script>
<script src="../../instruction/rbInsert.js"></script>
<script src="../../instruction/generateTraversal.js"></script>
<script src="../../instruction/searchNode.js"></script>
<script src="../../instruction/checkNodePosition.js"></script>
<script src="../../instruction/Animation/AnimationCircle.js"></script>
<script src="../../instruction/Animation/AnimationLine.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $(".inputBox").hide();
  $("#ShowAll").hide();
  $(".Traversal").hide();
  $("#Rotate").hide();   
});
</script>

</head>

<body>

<!-- #left-column: left side -->
<div id="left-column">
    <div id="menu11">
        <ul>
        	<li><a href="#" style="color:#8F6238; font-size:17px;"><b>Animation Learning</b></a></li>
        	<li><a href="RB_Simulation_Property.html">Property</a></li>
			<li><a id="current" href="RB_Simulation_Insert.html">Insert</a></li>
			<li><a href="#" style="color:#8F6238; font-size:17px;"><b>TEST</b></a></li>
            <li><a href="../Test/RB_Test_BuildATree.html">Build a Tree</a></li>
			<li><a href="../Test/RB_Test_Traversal.html">Traversal</a></li>
        </ul>
    </div>
</div>


<!-- #wrapper: centers the content and sets the width -->
<div id="wrapper">

  <!-- #content: applies the white, dropshadow background -->
  <div id="content">

    <!-- #header: holds site title and subtitle -->
    <div id="header" style="padding-left:10%;">
        <h1><span class="big darkBrown">R</span>ED-<span class="big darkBrown">B</span>LACK <span class="big darkBrown">T</span>REE</h1>
        <h2><span class="highlight">Animation Learning_Insert</span></h2>
    </div>
 
    <!-- #menu: topbar menu of the site.  Use the helper classes .two, .three, .four and .five to set
                the widths for 2, 3, 4 and 5 item menus. -->
    <ul id="menu" class="four">
      <li><a href="BST_Simulation_show_all.html"><span class="big">B</span>inary&nbsp;Search&nbsp;Tree</a></li>
      <li><a href="AVL_Simulation_Property.html" class="here"><span class="big">A</span>VL&nbsp;Tree</a></li>
      <li><a href="RB_Simulation_Property.html"><span class="big">R</span>ed-Black&nbsp;Tree</a></li>
      <li><a href="23_Simulation_Property.html"><span class="big">2</span>-3&nbsp;Tree</a></li>
    </ul>
    
    <!-- #page: holds all page content, as well as footer -->
    <div id="page">   
        <h3 style="font-family:Microsoft JhengHei;">產生Red-Black Tree的圖的步驟:<br>(I)先取得一筆資料<br>(II)按下"Show Red-Black Tree"按鈕即可一步一步產生一棵Red-Black Tree<br>
                                     (III)若遇到Red-Black Tree的特性被破壞之情況，請按下"Rotate Tree"或"Change Color"按鈕<br>
                                     (IV)另外,按下"Traversal"按鈕後,可以得到pre-order,in-order,post-order和breadth first traversal.<br><br>
                                     <p class="generateTip">可以使用兩種方式得到一筆資料以產生一個AVL Tree的圖:</p>
                                     <p class="describeRandom">➢ 按下"Random Data"的按鈕,隨機產生一組data:<button id="GetNodes" onClick="genNumbers.getNodes(1)">Random Data</button></p>
                                     <p class="describeInput">➢ 按下"Input data"的按鈕後,輸入7個數字,最後按下"Submit":<button id="InputNodes" onClick="genNumbers.inputData()" >Input data</button></p></h3>
                                     
        <h4 style="color:#003C9D; font-family:Microsoft JhengHei;">若有需要記錄當前步驟以提供下一個步驟做參考，請按下方的"Get this step"按鈕，<br>並選取右邊"previous step"字樣（藍色方塊），即可觀賞記錄的步驟畫面。<br>強烈建議動畫結束後再按"Get this step"按鈕，以確保記錄之步驟是完整的。</h4>                             
  
        <div class="inputBox">
            <p>
            <input type=text id=n0 size=3> &nbsp;
            <input type=text id=n1 size=3> &nbsp;
            <input type=text id=n2 size=3> &nbsp;
            <input type=text id=n3 size=3> &nbsp;
            <input type=text id=n4 size=3> &nbsp;
            <input type=text id=n5 size=3> &nbsp;
            <input type=text id=n6 size=3> &nbsp;
            <button id="Submit" onClick="genNumbers.submitIt()">Submit</button>
            </p>
        </div>

        <h3 style="color:#096; font-family:Microsoft JhengHei;">Data: <span id="rawData"></span>
        <button id="ShowAll" onclick="showStep.buildTree()">Show RB Tree</button></h3> 
        
        <h4 style="color:#CC0000; font-family:Microsoft JhengHei;">Red-Black Tree的特性被破壞之情況為：<div style="color:#FF3333" id="destroyProperty">none</div></h4>
         
        <nav class="figSideAVLandRB">
            <li>previous step
                <div id="previous" style="border:1px solid"></div>
            </li>
        </nav> 
         
        <svg width="1000" height="400" version="1.1" id="tree" xmlns="http://www.w3.org/2000/svg"></svg><br>
        
        <button id="getStep">Get this step</button><br><br>
        
        <div class="Traversal">
        	<div id="nullSVG" title="_" style="position:absolute; padding:0 0 0 0">
            </div> 
            
            <div id="preSVG" title="(You can drag me by here!!!) ">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="240" height="240" id="tree" style="background:#FFE7CD" viewBox="0 0 200 190">
                    <circle id="pre1" fill="#FDFF73" stroke="#FF5755" stroke-width="2" cx="100" cy="60" r="16"/>
                    <circle id="pre2" fill="#FDFF73" stroke="#FF5755" stroke-width="2" cx="50" cy="130" r="16"/>
                    <circle id="pre3" fill="#FDFF73" stroke="#FF5755" stroke-width="2" cx="150" cy="130" r="16"/>
                    <text x="120" y="118" fill="#FF7573" style="font-size:18px" >3</text>
                    <text x="70" y="47" fill="#FF7573" style="font-size:18px" >1</text>
                    <text x="20" y="118" fill="#FF7573" style="font-size:18px" >2</text>
                    <circle fill="#FF3333" cx="125" cy="125" r="6"/>
                    <circle fill="#FF3333" cx="75" cy="55" r="6"/>
                    <circle fill="#FF3333" cx="25" cy="125" r="6"/>
                    <line fill="#D8BAF4" stroke="#FF5755" stroke-width="2" x1="100" y1="75" x2="50" y2="115"/>
                    <line fill="#D8BAF4" stroke="#FF5755" stroke-width="2" x1="100" y1="75" x2="150" y2="115"/>
                    <path id="prePath" stroke="#55A8FF" stroke-width="2" fill="none" d="M95 30 L20 130 C45 155 60 155 65 145 L100 95 L140 150 C145 155 160 155 180 130 L120 40 L120 50 L130 45 L119 38"/>
                    <circle cx="" cy="" r="8" fill="#55A8FF">
                        <animateMotion dur="3.0s" repeatCount="indefinite">
                            <mpath xlink:href="#prePath"></mpath>
                        </animateMotion>
                    </circle>
                    <text x="5" y="180" stroke="#0200BE" style="font-size:14px" >依序拜訪左邊紅點建立Preorder</text>
                </svg>
            </div> 
            
            <div id="inSVG" title="(You can drag me by here!!!) ">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="240" height="240" id="tree" style="background:#FFE7CD" viewBox="0 0 200 190">
                    <circle fill="#FDFF73" stroke="#FF5755" stroke-width="2" cx="100" cy="60" r="16"/>
                    <circle fill="#FDFF73" stroke="#FF5755" stroke-width="2" cx="50" cy="130" r="16"/>
                    <circle fill="#FDFF73" stroke="#FF5755" stroke-width="2" cx="150" cy="130" r="16"/>
                    <text x="155" y="158" fill="#FF7573" style="font-size:18px" >3</text>
                    <text x="105" y="98" fill="#FF7573" style="font-size:18px" >2</text>
                    <text x="55" y="158" fill="#FF7573" style="font-size:18px" >1</text>
                    <circle fill="#FF3333" cx="150" cy="153" r="6"/>
                    <circle fill="#FF3333" cx="100" cy="93" r="6"/>
                    <circle fill="#FF3333" cx="50" cy="153" r="6"/>
                    <line fill="#D8BAF4" stroke="#FF5755" stroke-width="2" x1="100" y1="75" x2="50" y2="115"/>
                    <line fill="#D8BAF4" stroke="#FF5755" stroke-width="2" x1="100" y1="75" x2="150" y2="115"/>
                    <path id="inPath" stroke="#55A8FF" stroke-width="2" fill="none" d="M95 30 L20 130 C45 155 60 155 65 145 L100 95 L140 150 C145 155 160 155 180 130 L120 40 L120 50 L130 45 L119 38"/>
                    <circle cx="" cy="" r="8" fill="#55A8FF">
                        <animateMotion dur="3.0s" repeatCount="indefinite">
                            <mpath xlink:href="#inPath"></mpath>
                        </animateMotion>
                    </circle>
                    <text x="5" y="180" stroke="#0200BE" style="font-size:14px" >依序拜訪下方紅點建立Inorder</text>
                </svg>
            </div> 
            
            <div id="postSVG" title="(You can drag me by here!!!) ">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="240" height="240" id="tree" style="background:#FFE7CD" viewBox="0 0 200 190">
                    <circle fill="#FDFF73" stroke="#FF5755" stroke-width="2" cx="100" cy="60" r="16"/>
                    <circle fill="#FDFF73" stroke="#FF5755" stroke-width="2" cx="50" cy="130" r="16"/>
                    <circle fill="#FDFF73" stroke="#FF5755" stroke-width="2" cx="150" cy="130" r="16"/>
                    <text x="172" y="150" fill="#FF7573" style="font-size:18px" >2</text>
                    <text x="122" y="80" fill="#FF7573" style="font-size:18px" >3</text>
                    <text x="72" y="150" fill="#FF7573" style="font-size:18px" >1</text>
                    <circle fill="#FF3333" cx="177" cy="128" r="6"/>
                    <circle fill="#FF3333" cx="127" cy="58" r="6"/>
                    <circle fill="#FF3333" cx="77" cy="128" r="6"/>
                    <line fill="#D8BAF4" stroke="#FF5755" stroke-width="2" x1="100" y1="75" x2="50" y2="115"/>
                    <line fill="#D8BAF4" stroke="#FF5755" stroke-width="2" x1="100" y1="75" x2="150" y2="115"/>
                    <path id="postPath" stroke="#55A8FF" stroke-width="2" fill="none" d="M95 30 L20 130 C45 155 60 155 65 145 L100 95 L140 150 C145 155 160 155 180 130 L120 40 L120 50 L130 45 L119 38"/>
                    <circle cx="" cy="" r="8" fill="#55A8FF">
                        <animateMotion dur="3.0s" repeatCount="indefinite">
                            <mpath xlink:href="#postPath"></mpath>
                        </animateMotion>
                    </circle>
                    <text x="2" y="180" stroke="#0200BE" style="font-size:14px" >依序拜訪右邊紅點建立Postorder</text>
                </svg>
            </div> 
            
            <div id="breSVG" title="(You can drag me by here!!!) ">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="240" height="240" id="tree" style="background:#FFE7CD" viewBox="0 0 200 190">
                    <circle id="bre1" fill="#FDFF73" stroke="#FF5755" stroke-width="2" cx="100" cy="60" r="16"/>
                    <circle id="bre2" fill="#FDFF73" stroke="#FF5755" stroke-width="2" cx="50" cy="130" r="16"/>
                    <circle id="bre3" fill="#FDFF73" stroke="#FF5755" stroke-width="2" cx="150" cy="130" r="16"/>
                    <line fill="#D8BAF4" stroke="#FF5755" stroke-width="2" x1="100" y1="75" x2="50" y2="115"/>
                    <line fill="#D8BAF4" stroke="#FF5755" stroke-width="2" x1="100" y1="75" x2="150" y2="115"/>
                    <path id="brePath" stroke="#55A8FF" stroke-width="2" fill="none" d="M60 60 H140 C160 60 160 100 140 100 H30 C10 100 10 130 30 130 H190 L185 125 V135 L190 130"/>
                    <circle cx="" cy="" r="8" fill="#55A8FF">
                        <animateMotion dur="3s" repeatCount="indefinite">
                            <mpath xlink:href="#brePath"></mpath>
                        </animateMotion>
                    </circle>
                    <text x="7" y="180" stroke="#0200BE" style="font-size:14px" >依序拜訪節點建立Breadth first</text>
                </svg>
            </div> 
              
            <button id="TraversalOrder" onclick="TraPrepare.putLRchildren(1)">Traversal</button><br><br><br>
            <h3 style="font-family:Microsoft JhengHei;">I. Pre-order traversal<button id="tipPreorder">Tip</button>: <span id="traverseDepthPre" style="color:#06F"></span></h3>
            <h3 style="font-family:Microsoft JhengHei;">II. In-order traversal<button id="tipInorder">Tip</button>: <span id="traverseDepthIn" style="color:#06F"></span></h3>
            <h3 style="font-family:Microsoft JhengHei;">III. Post-order traversal<button id="tipPostorder">Tip</button>: <span id="traverseDepthPost" style="color:#06F"></span></h3>
            <h3 style="font-family:Microsoft JhengHei;">IV. Breadth first traversal(Level order traversal)<button id="tipBre">Tip</button>: <span id="traverseBreadth" style="color:#06F"></span></h3>
        </div>
	</div>
</div>
</body>
</html>