<!DOCTYPE HTML>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
<meta charset="UTF-8">
<title>BST_Test</title>
<link rel="stylesheet" type="text/css" href="../../style/layout.css" media="screen, projection, tv " />
<link rel="stylesheet" type="text/css" href="../../style/html.css" media="screen, projection, tv" />
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="../../instruction/generateData.js"></script>
<script src="../../instruction/generatePrePostNode.js"></script>
<script src="../../instruction/buildTree.js"></script>
<script src="../../instruction/compareAnswer.js"></script>
<script src="../../instruction/Animation/AnimationBstAvlBuildTree.js"></script>
<script src="../../instruction/Animation/AnimationBuildLine.js"></script>
<script src="../../instruction/Animation/AnimationCircle.js"></script>
<script src="../../instruction/Animation/AnimationLine.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	$("#nextNode1").hide();
	$("#nextNode2").hide();
	$("#Submit").hide();
	$("#SubmitAnswer").hide();
	$("#an").hide();
	$("#Display").hide();
});
</script>
</head>

<body>
<!-- #left-column: left side -->
<div id="left-column">
    <div id="menu11">
        <ul>
        	<li><a href="#" style="color:#8F6238; font-size:17px;"><b>Animation Learning</b></a></li>
        	<li><a href="../Simulation/BST_Simulation_show_all.html">Show All</a></li>
			<li><a href="../Simulation/BST_Simulation_step_by_step.html">Step By Step</a></li>
			<li><a href="../Simulation/BST_Simulation_Preorder+Inorder-Postorder & Inorder+Postorder-Preorder.html">Preorder/Postorder+Inorder</a></li>
        	<li><a href="#" style="color:#8F6238; font-size:17px;"><b>TEST</b></a></li>
            <li><a href="BST_Test_BuildATree.html">Build a Tree</a></li>
			<li><a href="BST_Test_Traversal.html">Traversal</a></li>
			<li><a id="current" href="BST_Test_Preorder+Inorder-Postorder &Inorder+Postorder-Preorder.html">Preorder/Postorder+Inorder</a></li>
        </ul>
    </div>
</div>

<!-- #wrapper: centers the content and sets the width -->
<div id="wrapper">

    <!-- #content: applies the white, dropshadow background -->
    <div id="content" style="width:1050px">

        <!-- #header: holds site title and subtitle -->
        <div id="header" style="padding-left:15%;">
            <h1><span class="big darkBrown">B</span>INARY <span class="big darkBrown">S</span>EARCH<span class="big darkBrown">T</span>REE</h1>
            <h2><span class="highlight">Test_Preorder(Postorder)+Inorder->BST</span></h2>
        </div>
 
    <!-- #menu: topbar menu of the site.  Use the helper classes .two, .three, .four and .five to set
                the widths for 2, 3, 4 and 5 item menus. -->
        <ul id="menu" class="four">
          <li><a href="../Simulation/BST_Simulation_show_all.html" class="here"><span class="big">B</span>inary&nbsp;Search&nbsp;Tree</a></li>
          <li><a href="../Simulation/AVL_Simulation_Property.html"><span class="big">A</span>VL&nbsp;Tree</a></li>
          <li><a href="../Simulation/RB_Simulation_Property.html"><span class="big">R</span>ed-Black&nbsp;Tree</a></li>
          <li><a href="../Simulation/23_Simulation_Property.html"><span class="big">2</span>-3&nbsp;Tree</a></li>
        </ul>

        <!-- #page: holds all page content, as well as footer -->
    	<div id="page">
			
		<h3 style="font-family:Microsoft JhengHei;">步驟:<br>
           <ul class="contentUi">
               <li>選擇"Preorder+Inorder"或"Inorder+Postorder"的按鈕</li>
               <li>按下"Start"的按鈕一步步建立Binary search tree</li>
               <li>按下"Submit"的按鈕比對答案</li>
           </ul>
        </h3>

		<p style="color:#F00">此處的A~Z字母和順序無關</p>
        
       <button id="preAndIn" onClick="genNumbers.getAlphabetNodes(),genPrePost.randomTraversal(1)">Preorder+Inorder</button>
       <button id="postAndIn" onClick="genNumbers.getAlphabetNodes(),genPrePost.randomTraversal(2)">Inorder+Postorder</button>
        
        <div class="Traversal">
            <h3 id="pre" style="font-family:Microsoft JhengHei;">Pre-order traversal: <span id="pre0"></span><span id="pre1"></span><span id="pre2"></span><span id="pre3"></span><span id="pre4"></span><span id="pre5"></span><span id="pre6"></span><span id="pre7"></span></h3>
            <h3 id="in" style="font-family:Microsoft JhengHei;">In-order traversal: <span id="i0"></span><span id="i1"></span><span id="i2"></span><span id="i3"></span><span id="i4"></span><span id="i5"></span><span id="i6"></span><span id="i7"></span></h3>
            <h3 id="post" style="font-family:Microsoft JhengHei;">Post-order traversal: <span id="post0"></span><span id="post1"></span><span id="post2"></span><span id="post3"></span><span id="post4"></span><span id="post5"></span><span id="post6"></span><span id="post7"></span></h3>
        </div>
        
        <button id="nextNode1" onclick="buildTree.generateDragNode(1),genPrePost.preInTree()">Start</button>
        <button id="nextNode2" onclick="buildTree.generateDragNode(2),genPrePost.postInTree()">Start</button>
        
         <div id="treeGraph"></div>
        
        <!--<p id="preInput">Pre-order traversal:
            <input type=text id=pre0 size=3> &nbsp;
            <input type=text id=pre1 size=3> &nbsp; 
            <input type=text id=pre2 size=3> &nbsp;
            <input type=text id=pre3 size=3> &nbsp;
            <input type=text id=pre4 size=3> &nbsp;
            <input type=text id=pre5 size=3> &nbsp;
            <input type=text id=pre6 size=3>
            <span id="tORfPre">✔</span>
        </p>
        
        <p id="postInput">Post-order traversal:
            <input type=text id=post0 size=3> &nbsp;
            <input type=text id=post1 size=3> &nbsp;
            <input type=text id=post2 size=3> &nbsp;
            <input type=text id=post3 size=3> &nbsp;
            <input type=text id=post4 size=3> &nbsp;
            <input type=text id=post5 size=3> &nbsp;
            <input type=text id=post6 size=3> &nbsp;
            <span id="tORfPost">✔</span>
        </p>-->
        
       <button id="Submit" onclick="compare.compareAnswer(1)">Submit</button>
        
        <div id="answerSVG" title="(You can drag me by here!!!) ">
        	<h1 style="background:#FFC">Correct Answer</h1>
			<svg width="660" height="330" id="tree" style="background:#FFC" viewbox="30,10,660,330"></svg>
		</div>     
        
        <h3 style="font-family:Microsoft JhengHei;">Result:<blockquote><span id="result"></span></blockquote></h3><br>
        
        <button id="ans">Display correct answer</button>
	</div>
  </div>  
</div>

</body>
</html>